html {
  min-height: 100vh;
}

body {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  font-size: $font-size;
  line-height: 1.5rem;
  min-height: 100vh;

  &.disable-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
  margin: 3rem 0;

  > section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 876px;
  position: relative;
}

#app {
  min-height: 450px;
}

section {
  padding: 3rem 0;
  position: relative;

  &.color-scheme--dolphin-grey {
    background-color: $color-dolphin-grey;
    color: $color-white;
  }

  &.color-scheme--pastel-green {
    background-color: $color-pastel-green;
  }
}