@import 'reset';
@import 'variables';
@import 'fonts';
@import 'legible';
@import 'layout';

@import 'components/footer';
@import 'components/form';
@import 'components/header';
@import 'components/password-generator';
@import 'components/table';

@import 'responsive';

h1,
.header-1,
h2,
.header-2,
h3,
.header-3,
h4,
.header-4,
h5,
.header-5,
h6,
.header-6 {
  font-family: 'FugazOne';
}

body {
  font-family: 'SourceCodePro';
}

a {
  color: #222;
  font-family: 'FugazOne';

  &:hover {
    text-decoration: none;
  }
}

::-moz-selection,
::selection {
  background: $color-dolphin-grey;
  color: $color-white;
}
