@media (max-width: 876px) {
  body,
  .legible {
    font-size: 15px;
  }

  .header-1,
  .legible .header-1,
  .legible h1 {
    font-size: 2.3rem;
  }

  .header-2,
  .legible .header-2,
  .legible h2 {
    font-size: 1.8rem;
  }

  .header-3,
  .legible .header-3,
  .legible h3 {
    font-size: 1.4rem;
  }

  header .icon {
    height: 90px;
    width: 90px;
  }

  .password-generator {
    .password {
      font-size: 1.25rem;
    }

    .password-info {
      width: calc(100% - 2rem);
    }

    .options {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;

      .option-row {
        width: 100%;
      }
    }
  }

  footer {
    padding: 3rem 1rem;
    text-align: center;

    img {
      margin-bottom: 1rem;
    }

    > *{
      align-items: center;
      flex-direction: column;

      .legible {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  body,
  .legible {
    font-size: 14px;
  }

  .header-1,
  .legible .header-1,
  .legible h1 {
    font-size: 1.6rem;
  }

  .header-2,
  .legible .header-2,
  .legible h2 {
    font-size: 1.3rem;
  }

  .header-3,
  .legible .header-3,
  .legible h3 {
    font-size: 1.1rem;
  }

  header .icon {
    height: 50px;
    width: 50px;
  }

  .password-generator .password {
    font-size: 1rem;
  }
}