$color-white: #FFF;
$color-dolphin-grey: #828E8C;
$color-pastel-green: #C5D0C1;
$color-antique-white: #F8ECDE;
$color-middle-red: #E8866C;
$color-purple-taupe: #494546;

$font-size: 16px;
$font-size-large: 1.2rem;