footer {
  background: $color-purple-taupe;
  color: $color-white;
  margin-top: 3rem;
  padding: 3rem 0;

  > * {
    display: flex;
    justify-content: space-between;
  }

  .legible {
    margin-left: 40px;
  }

  a {
    color: $color-white;
  }

  .image {
    border: .5rem solid $color-white;
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;

    img {
      border-radius: 50%;

    }
  }
}