label,
.label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=number] {
  font-family: 'SourceCodePro';
  height: 26px;
  padding: 8px;
  width: calc(100% - 1rem);
}

select {
  background-color: $color-white;
  border-radius: 5px;
  border-width: 0;
  font-family: 'SourceCodePro';
  height: 40px;
  padding: 0.5rem;
  width: 100%;
}

.checkbox-wrapper {
  input {
    display: none;
  }

  label {
    align-items: center;
    background: $color-white;
    border-radius: 5px;
    display: flex;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;

    &:before {
      align-items: center;
      background-color: #eee;
      border-radius: 5px;
      content: '';
      cursor: pointer;
      display: inline-flex;
      height: 28px;
      margin: 0.5rem;
      width: 28px;
    }
  }

  input:checked + label:before {
    background-image: url(../../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
  }
}