
header {
  background-color: $color-middle-red;
  background-image: url(../images/olieman-eth-q7h8LVeUgFU-unsplash.webp);
  background-position: bottom left;
  background-size: cover;
  color: $color-white;
  padding: 2rem 1rem;
  position: relative;

  &:before {
    background-color: $color-middle-red;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
  }

  > .center {
    align-items: center;
    display: flex;
  }

  .icon {
    background-color: $color-white;
    background-image: url(../images/key-solid.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 0;
    height: 110px;
    margin-right: 1rem;
    width: 110px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    position: relative;

    ul {
      display: none;
    }

    a {
      color: $color-white;
      display: block;
      font-size: $font-size-large;
      padding: 0.5rem;
      text-decoration: none;
    }
  }

  .nav-toggle-button {
    background-color: transparent;
    background-image: url(../images/bars-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    border: none;
    color: $color-white;
    cursor: pointer;
    font-size: 0;
    padding: 1rem;
  }

  &.nav-open {
    padding: 0;

    .center {
      min-width: 100%;
    }

    .nav-toggle-button {
      background-image: url(../images/xmark-solid.svg);
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    nav {
      align-items: center;
      background-color: $color-middle-red;
      background-image: url(../images/olieman-eth-q7h8LVeUgFU-unsplash.webp);
      background-position: bottom left;
      background-size: cover;
      bottom: 0;
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      min-width: 100%;
      z-index: 9999;

      &:before {
        background-color: $color-middle-red;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0.9;
        position: absolute;
        right: 0;
        top: 0;
      }

      ul {
        display: block;
        position: relative;
      }
    }
  }
}