.password-generator-container {
  &:before {
    background-color: $color-pastel-green;
    content: '';
    position: absolute;
    height: 75%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }
}

.password-generator {
  background: $color-antique-white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-height: 450px;
  padding: 1rem;
  overflow: hidden;
  text-align: center;

  .password-generator__top {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .password {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    width: 100%;
    word-break: break-all;

    span,
    input {
      background-color: $color-white;
      border: none;
      border-radius: 10px;
      font-family: 'SourceCodePro';
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2em;
      min-height: 30px;
      padding: 0.5rem;
      position: relative;
      text-align: center;
      width: 100%;
      z-index: 1;
    }
  }

  .source {
    display: flex;
    font-size: 12px;
    margin-bottom: 1rem;
    text-transform: capitalize;

    > * {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  button {
    background-color: #333;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    font-family: 'FugazOne';
    justify-content: center;
    margin: 2rem 0 0;
    padding: 1rem 2rem;
    position: relative;
    text-transform: uppercase;

    &:before {
      background-image: url('../images/sync-alt-solid.svg');
      content: '';
      display: inline-block;
      height: 20px;
      margin-right: 0.5rem;
      width: 20px;
    }

    &:active {
      box-shadow: 1px 1px 0 #000;
      top: 2px;
      left: 2px;
    }
  }

  .options {
    display: flex;
    padding: 1rem;
  }

  .option-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .option {
    flex: 1;
    margin-top: 1rem;
  }

  .checkbox-wrapper {
    height: 30px;
  }
}

// .password-strength {
//   background: linear-gradient(to right, red,yellow,green);
//   bottom: 0;
//   height: 5px;
//   left: 0;
//   opacity: 0.7;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 0;

//   .password-strength__meter {
//     background-color: #eee;
//     bottom: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     z-index: 1;

//     &.password-meter--loading {
//       width: calc(100%);
//     }

//     &.password-meter--0 {
//       width: calc(100% - 20px);
//     }

//     &.password-meter--1 {
//       width: 75%;
//     }

//     &.password-meter--2 {
//       width: 50%;
//     }

//     &.password-meter--3 {
//       width: 25%;
//     }

//     &.password-meter--4 {
//       width: 0%;
//     }
//   }
// }

.password-info {
  align-items: center;
  background: $color-white;
  border-radius: 10px;
  display: flex;
  margin: 2rem 2rem 0;
  min-height: 120px;
  padding: 1rem;
  position: relative;
  width: calc(80% - 6rem);

  .password-info__arrow {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-bottom: 1rem solid white;
    border-right: 1rem solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .legible-small {
    margin-top: 1rem;
  }
}

.strength-summary {
  strong {
    display: block;
    font-family: 'FugazOne';
    font-size: 1.3rem;
    margin-bottom: .5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.raised {
  font-size: 0.6rem;
  margin-left: 1px;
  position: relative;
  top: -2px;
  vertical-align: top;
}

.breached {
  font-weight: bold;
}