<template>
  <div class="password-generator-container">
    <div class="center">
      <div class="password-generator">
        <div class="password-generator__top">
          <div class="password">
              <span v-html="password"></span>
          </div>

          <div class="password-info">
            <div class="password-info__arrow"></div>

            <div v-if="analysis" class="password-info__content">
              <div class="strength-summary"><strong>{{ analysis.strength_explanation.header }}</strong><p>{{ analysis.strength_explanation.body }}</p></div>
            </div>
          </div>

          <button v-on:click="buttonClick">Skapa ett nytt lösenord</button>
        </div>
        <div class="options">
          <div class="option-row">
            <div class="option">
              <label for="number-of-words">Antal ord</label>
              <select id="number-of-words" v-model="number_of_words">
                <option v-for="number in getNumbers(1, 5)" :key="number" :value="number">{{ number }}</option>
              </select>
            </div>
          </div>
          <div class="option-row">
            <div class="option">
              <label class="label" for="capitalize">Versaler</label>
              <select id="capitalize" v-model="capitalize">
                <option value="null">Inga versaler</option>
                <option value="word">Varje ord</option>
                <option value="random">Slumpmässigt</option>
              </select>
            </div>
          </div>
          <div class="option-row">
            <div class="option">
              <label class="label" for="numbers">Siffror</label>
              <select id="numbers" v-model="numbers">
                <option :value="null">Inga siffror</option>
                <option value="start">I början</option>
                <option value="end">I slutet</option>
                <option value="random">Slumpmässigt</option>
              </select>
            </div>
            <div class="option" v-if="numbers">
              <label class="label" for="number-of-numbers">Antal siffror</label>
              <select id="number-of-numbers" v-model="number_of_numbers">
                <option v-for="number in getNumbers(1, 9)" :key="number" :value="number">{{ number }}</option>
              </select>
            </div>
          </div>
          <div class="option-row">
            <div class="option">
              <label class="label" for="special_chars">Specialtecken</label>
              <select id="special_chars" v-model="special_chars">
                <option value="">Inga specialtecken</option>
                <option value="start">I början</option>
                <option value="end">I slutet</option>
                <option value="between">Mellan ord</option>
                <option value="random">Slumpmässigt</option>
              </select>
            </div>
            <div class="option" v-if="special_chars">
              <label class="label" for="number-of-special-chars">Antal specialtecken</label>
              <select id="number-of-special-chars" v-model="number_of_special_chars">
                <option v-for="number in getNumbers(1, 9)" :key="number" :value="number">{{ number }}</option>
              </select>
            </div>
          </div>

          <div class="option-row">
            <div class="option checkbox-wrapper">
              <div class="label">Svenska tecken</div>
              <input id="swedish-chars" type="checkbox" v-model="swedish_chars">
              <label for="swedish-chars">Inkludera</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      capitalize: 'word',
      number_of_numbers: 1,
      number_of_special_chars: 1,
      number_of_words: 3,
      numbers: 'end', // start, end, random
      password: null,
      analysis: '',
      show_calculations: false,
      special_chars: 'end', // start, end, between, random
      source: null,
      swedish_chars: true,
    };
  },
  mounted() {
    this.generate();
  },
  methods: {
    buttonClick() {
        if (window.fathom) {
            window.fathom.trackGoal('QRVXQ0HX', 0);
        }

        this.generate();
    },
    generate() {
      this.password = null;
      this.source = null;
      this.analysis = null;

      let url = '/api/generate?';
      url += 'numbers=' + this.numbers;
      url += '&capitalize=' + this.capitalize;
      url += '&number_of_numbers=' + this.number_of_numbers;
      url += '&number_of_words=' + this.number_of_words;
      url += '&special_chars=' + this.special_chars;
      url += '&number_of_special_chars=' + this.number_of_special_chars;
      url += '&swedish_chars=' + (this.swedish_chars ? 1 : 0);

      const Http = new XMLHttpRequest();
      Http.open('GET', url);
      Http.send();
      Http.onreadystatechange = (e) => {
        if (Http.readyState == 4) {
          if (Http.status == 200) {
            const data = JSON.parse(Http.responseText);
            this.password = data.generated;
            this.source = data.source;
            this.analysis = data.analysis;
          } else {
            console.error(Http.responseText);
          }
        }
      }
    },
    getNumbers(start, end) {
      let numbers = [];
      for (let i = start; i <= end; i++) {
        numbers.push(i);
      }

      return numbers;
    },
    toggleCalculations() {
      this.show_calculations = !this.show_calculations;
    }
  },
};
</script>
