<template>
  <div class="password-generator-container">
    <div class="center">
      <div class="password-generator">
        <div class="password-generator__top">
          <div class="password">
            <input type="text" v-model="password" placeholder="Testa ditt lösenord här">
          </div>

          <div class="password-info">
            <div class="password-info__arrow"></div>

            <div v-if="analysis" class="password-info__content">
              <div class="strength-summary"><strong>{{ analysis.strength_explanation.header }}</strong><p>{{ analysis.strength_explanation.body }}</p></div>
            </div>
            <div v-else class="password-info__content">Fyll i ditt lösenord här ovanför och klicka på analysera för att se vilken poäng det får.</div>
          </div>

          <button v-on:click="buttonClick">Analysera lösenord</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      analysis: null,
      password: null,
    };
  },
  methods: {
    buttonClick() {
      if (window.fathom) {
        window.fathom.trackGoal('TQ8GMPW4', 0);
      }

      this.analyze();
    },
    analyze() {
      let url = '/api/analyze?';
      url += 'password=' + this.password;

      const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
      const Http = new XMLHttpRequest();
      Http.open('POST', url);
      Http.setRequestHeader('X-CSRF-TOKEN', csrfToken)
      Http.send();
      Http.onreadystatechange = (e) => {
        if (Http.readyState == 4) {
          if (Http.status == 200) {
            const data = JSON.parse(Http.responseText);
            this.analysis = data;
          } else {
            console.error(Http.responseText);
          }
        }
      }
    },
    getNumbers(start, end) {
      let numbers = [];
      for (let i = start; i <= end; i++) {
        numbers.push(i);
      }

      return numbers;
    },
    toggleCalculations() {
      this.show_calculations = !this.show_calculations;
    }
  },
};
</script>
